:root {

    /* =========================================
       COLORS
    ========================================== */

    --bg1: #070707;
    --bg2: #0E0F10;
    --bg3: #17191D;

    --txt1: #F5F7FA;
    --txt2: #B9BEC6;
    --txt3: #7D8490;

    --highlight: #B8E62E;

    --stroke: #151619;


    /* =========================================
       TYPOGRAPHY — FONT SIZE
    ========================================== */

    --hdln60: 80px;
    --hdln40: 40px;

    --lbl36: 36px;
    --lbl24: 24px;
    --lbl18: 18px;

    --bdy18: 18px;
    --bdy14: 14px;

    --mt12: 12px;
    --mt8: 10px;

    --code14: 14px;


    /* =========================================
       TYPOGRAPHY — LINE HEIGHT
    ========================================== */

    --lh-auto: 1;

    --lh-80: 80px;
    --lh-60: 60px;
    --lh-56: 56px;
    --lh-48: 48px;
    --lh-38: 38px;
    --lh-30: 30px;
    --lh-28: 28px;
    --lh-24: 24px;
    --lh-12: 12px;


    /* =========================================
       FONT WEIGHTS
    ========================================== */

    --fw-regular: 300;
    --fw-semibold: 600;


    /* =========================================
       SPACING
    ========================================== */

    --space-4: 4px;
    --space-8: 8px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-32: 32px;
    --space-38: 38px;
    --space-40: 40px;
    --space-48: 48px;
    --space-60: 60px;
    --space-80: 80px;
    --space-100: 100px;
    --space-120: 120px;
    --space-160: 160px;


    /* =========================================
       BORDER RADIUS
    ========================================== */

    --radius-sm: 2px;
    --radius-md: 12px;
    --radius-lg: 20px;


    /* =========================================
       CONTAINER
    ========================================== */

    --container: 1120px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
    background: var(--bg1);
    color: var(--txt1);
    font-size: var(--bdy18);
    line-height: var(--lh-28);
    font-weight: var(--fw-regular);
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* PAGE CONTAINER */

.page-container {
    width: 100%;
    max-width: var(--container);
    margin: 0 auto;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}


a {
    text-decoration: none;
}


.section {
    padding: var(--space-100) var(--space-24);
}


/* TYPOGRAPHY UTILITIES */

.hdln60-bld {
    font-size: var(--hdln60);
    line-height: var(--lh-80);
    font-weight: var(--fw-semibold);
}

.hdln40-bld {
    font-size: var(--hdln40);
    line-height: var(--lh-60);
    font-weight: var(--fw-semibold);
}

.lbl36 {
    font-size: var(--lbl36);
    line-height: var(--lh-48);
    font-weight: var(--fw-regular);
}

.lbl36-bld {
    font-size: var(--lbl36);
    line-height: var(--lh-48);
    font-weight: var(--fw-semibold);
}

.lbl24 {
    font-size: var(--lbl24);
    line-height: var(--lh-38);
    font-weight: var(--fw-regular);
}

.lbl24-bld {
    font-size: var(--lbl24);
    line-height: var(--lh-38);
    font-weight: var(--fw-semibold);
}

.lbl18-bld {
    font-size: var(--lbl18);
    line-height: var(--lh-28);
    font-weight: var(--fw-semibold);
}

.bdy18-bold {
    font-size: var(--bdy18);
    line-height: var(--lh-28);
    font-weight: var(--fw-semibold);
}

.bdy18 {
    font-size: var(--bdy18);
    line-height: var(--lh-28);
    font-weight: var(--fw-regular);
}

.bdy14 {
    font-size: var(--bdy14);
    line-height: var(--lh-24);
    font-weight: var(--fw-regular);
}

.bdy14-bld {
    font-size: var(--bdy14);
    line-height: var(--lh-24);
    font-weight: var(--fw-semibold);
}

.mt12 {
    font-size: var(--mt12);
    line-height: var(--lh-12);
    font-weight: var(--fw-semibold);
    letter-spacing: 1px;
}

.mt12-bld {
    font-size: var(--mt12);
    line-height: var(--lh-12);
    font-weight: var(--fw-semibold);
    letter-spacing: 1px;
}

.mt8-bld {
    font-size: var(--mt8);
    line-height: var(--lh-12);
    font-weight: var(--fw-semibold);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.code {
    font-size: var(--code14);
    line-height: var(--lh-24);
    font-family: monospace;
}

.mt8 {
    font-size: var(--mt8);
    line-height: var(--lh-12);
    font-weight: var(--fw-semibold);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.txt1 {
    color: var(--txt1);
}

.txt2 {
    color: var(--txt2);
}

.txt3 {
    color: var(--txt3);
}

/* NAVBAR */

.logo_img {
    width: 88px;
}

.navbar {
    width: 100%;
    padding: var(--space-20) var(--space-24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--stroke);
}

.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: var(--txt2);
    transition: 0.3s;
}

.nav-links a:hover {
    color: var(--highlight);
}

.menu-btn {
    display: none;
    cursor: pointer;
}


/* HERO */

.hero {
    min-height: 68vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-24);
}

.hero-scroll {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

/* remove default anchor styles */
.scroll-arrow {
    position: relative;
    display: inline-block;
    width: 2px;
    height: 50px;
    background: var(--txt1);
    text-decoration: none;
}

/* arrow head */
.scroll-arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--txt1);
    border-bottom: 2px solid var(--txt1);
    transform: translateX(-50%) rotate(45deg);
}

.hero-image {
    flex: 0 0 40%;
}

.hero-image img {
    max-width: 420px;
}

.hero-content {
    flex: 0 0 60%;
}

.hero-content h1 {
    margin-bottom: 24px;
}

.hero-content h2 {
    color: var(--txt2);
    margin-bottom: 24px;
}

.hero-content p {
    color: var(--txt3);
    max-width: 520px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
}

.content-width {
    max-width: 720px;
}

/* BUTTONS */

.btn {
    padding: 14px 22px;
    border-radius: var(--radius-sm);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    min-width: fit-content;
    height: 48px;
    font-size: var(--bdy18);
    line-height: var(--lh-28);
    font-weight: var(--fw-semibold);
}

.btn-primary {
    background: var(--highlight);
    color: #000;
}

.btn-primary:hover {
    transform: translateY(-2px);
}

.btn-secondary {
    border: 0.4px solid var(--highlight);
    color: var(--highlight);
}


/* SECTIONS */

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.section-label {
    color: var(--txt3);
    margin-bottom: 16px;
    display: block;
}

.section-left p {
    color: var(--txt2);
    margin-bottom: 40px;
}


/* SECTION HEADER */

.section-header p {
    color: var(--txt2);
}

.tool-card:hover,
.operational-card:hover {
    transform: translateY(-4px);
    border-color: var(--highlight);
}

/* OPERATIONAL DESIGN SYSTEMS */

.operational-section {
    padding-top: 0;
}

.operational-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.operational-card {
    background: var(--bg2);
    overflow: hidden;
    transition: 0.3s ease;
}

.operational-card img {
    height: 180px;
    object-fit: fill;
}

.operational-content {
    padding: 40px 24px;
}

.tag-group span {
    color: var(--txt3);
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    /* margin-bottom: 16px; */
    border-radius: 999px;
    background: var(--bg3);
    text-transform: uppercase;
}

.tag-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.operational-card .work-link {
    display: inline-block;
}

/* TOOLKIT */

.toolkit-border-section {
    border: 1px solid var(--stroke);
    margin-top: -40px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 48px 40px 60px;
}

.card-footer {
    padding: 16px 0px;
    border-top: 1px solid var(--stroke);
    color: var(--txt2);
    text-align: center;
}

.toolkit-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.tool-card {
    background: var(--bg2);
    padding: 20px 24px;
    transition: 0.3s ease;
}

.tool-card img {
    height: 180px;
    object-fit: fill;
    margin-bottom: 20px;
}

.tool-card h3 {
    margin-bottom: 6px;
}

.tool-card p {
    color: var(--txt2);
    margin-bottom: 20px;
}

.tool-card a {
    color: var(--highlight);
}

.section-footer-note {
    width: 100%;
    padding: 24px;
    margin-top: 40px;
    border-top: 1px solid var(--stroke);
    background: var(--bg2);
    text-align: center;
    color: var(--txt2);
}


/* WORK */

.work-list {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.work-item {
    display: grid;
    grid-template-columns: 140px 1fr auto;
    gap: 40px;
    align-items: start;
}

.work-item img {
    height: 120px;
    object-fit: cover;
}

.work-content h3 {
    margin: 8px 0 24px;
}

.work-content span {
    color: var(--highlight);
    display: block;
    margin-bottom: 20px;
}

.work-content p {
    color: var(--txt3);
    max-width: 700px;
}

.work-link {
    color: var(--highlight);
    white-space: nowrap;
}


/* =========================================
FOOTER
========================================= */

/* MAIN */

.footer-main {
    /* min-height: 640px; */
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 120px;
    background: var(--bg2);
}

/* LEFT */

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-left p {
    color: var(--txt2);
}

/* RIGHT */

.footer-right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 620px;
}

.footer-note {
    color: var(--txt2);
}

/* CONTACT */

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-contact a {
    color: var(--txt1);
    text-decoration: none;
    width: fit-content;
}

/* SOCIALS */

.footer-socials {
    display: flex;
    align-items: center;
    gap: 32px;
}

.social-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--txt1);
    text-decoration: none;
}

.medium {
    height: 20px;
}

.linkedIn {
    height: 24px;
}

/* BOTTOM */

.footer-bottom {
    border-top: 1px solid rgba(215, 255, 63, 0.4);
    background: var(--bg3);
    padding: 16px 24px 20px;
    text-align: center;
}

.footer-bottom p {
    color: var(--txt2);
}

/* RESPONSIVE */

@media (max-width: 900px) {

    .footer-main {
        min-height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 80px;
        padding: 80px 24px;
    }

    .footer-right {
        gap: 40px;
    }

    .footer-contact a {
        font-size: 28px;
        line-height: 1.3;
    }

    .footer-bottom p {
        font-size: 18px;
    }

}


/* MOBILE */

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        padding-top: 120px;
    }

    .section-grid {
        grid-template-columns: 1fr;
    }

    .toolkit-grid {
        grid-template-columns: 1fr;
    }

    .work-item {
        grid-template-columns: 1fr;
    }

    .nav-links {
        position: absolute;
        top: 80px;
        right: 8%;

        background: #111;
        padding: 20px;

        border: 1px solid var(--stroke);

        flex-direction: column;

        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-btn {
        display: block;
    }

    .hdln60-bld {
        font-size: 52px;
        line-height: 56px;
    }

    .hdln40-bld {
        font-size: 32px;
        line-height: 40px;
    }

    .operational-grid {
        grid-template-columns: 1fr;
    }

    .footer-socials {
        flex-wrap: wrap;
        gap: 16px;
    }
}

/* =========================================
token bridge
========================================= */

.token-note {
    background: var(--bg3);
    padding: 4px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    color: var(--txt2);
    border-left: 4px solid var(--stroke);
}

.before-after-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: start;
}

.compare-card {
    display: flex;
    flex-direction: column;
    align-self: start;
}

.compare-card .workflow-list {
    margin-top: 0;
}

/* =========================================
WORKFLOW PAGE
========================================= */


.workflow-hero {
    padding: 60px 24px;
}

.workflow-hero-grid {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 240px;
}

.workflow-hero h1 {
    margin: 12px 0 20px;
    ;
    max-width: 720px;
}

.workflow-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 32px;
}

.workflow-problem-section,
.workflow-approach,
.workflow-transformations {
    margin: 60px 24px;
}

.workflow-problem-grid,
.workflow-approach-grid,
.transformation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: flex-start;
}

.workflow-caption {
    margin-top: 16px;
    color: var(--txt3);
    font-size: 12px;
}

.insight-divider-na {
    height: 1px;
    width: 60px;
    background: var(--highlight);
    margin: 0px auto;
}

.workflow-divider,
.insight-divider {
    height: 1px;
    width: 60px;
    background: var(--highlight);
    margin: 0px auto 30px;
    ;
}

.workflow-divider,
.insight-divider-bottom {
    height: 1px;
    width: 60px;
    background: var(--highlight);
    margin: 40px auto 0px;
    ;
}

.workflow-insight {
    padding: 60px 24px;
    align-items: center;
    text-align: center;
}

.workflow-list {
    margin-top: 24px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.transformation-module {
    padding: 80px 0;
    border-top: 1px solid var(--stroke);
}

.transformation-intro {
    margin-bottom: 40px;
    color: var(--txt2);
}

.copy-block {
    margin-bottom: 40px;
}

/* =========================================
MAPPING TABLE
========================================= */

.mapping-table {
    margin-top: 24px;
    border: 1px solid var(--stroke);
    width: 100%;
    /* min-width: 450px; */
}

.mapping-row {
    display: grid;

    min-height: fit-content;
    min-width: fit-content;

    border-bottom: 1px solid var(--stroke);
}

/* 2 COLUMN */

.mapping-row.two-col {
    grid-template-columns: 1fr 1fr;
}

/* 1 COLUMN */

.mapping-row.one-col {
    grid-template-columns: 1fr;
}

.mapping-row:last-child {
    border-bottom: none;
}

/* CELLS */

.mapping-row span {
    display: flex;
    align-items: center;
    padding: 8px 18px;
    line-height: 1.5;
    color: var(--txt2);
}

/* VERTICAL DIVIDER */

.mapping-row span:first-child {
    border-right: 1px solid var(--stroke);
}

/* HEADER */

.mapping-header {
    background: var(--bg3);
}

/* BOTTOM CAPTION */
.mapping-caption {
    margin-top: 24px;
    text-align: center;
    color: var(--txt3);
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}

.code-comparison {
    display: flex;
    align-items: stretch;
    gap: 4px;
    height: 100%;
    min-width: 0;
}

.code-card-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
}

/* CAPTION */

.code-caption {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--txt3);
}


.code-caption span {
    color: var(--txt3);
}

.code-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: var(--bg3);
    padding: 16px;
    min-width: 0;
    height: 100%;
    overflow: hidden;
}

.code-card pre {
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre;
    /* word-break: break-word; */
    width: 100%;
}

.code-card code {
    font-family: 'Inter', sans-serif;
    font-size: var(--bdy14);
    line-height: var(--lh-24);
    font-weight: 100;
    color: var(--txt2);
    -webkit-font-smoothing: antialiased;
    display: block;
    max-width: 100%;
}

.code-label {
    margin-bottom: 20px;
    color: var(--txt3);
    font-size: var(--mt12);
}

.comparison-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--txt3);
    font-size: 24px;
    flex-shrink: 0;
}

.transformation-grid>* {
    min-width: 0;
}

@media (max-width: 900px) {

    .workflow-hero-grid,
    .workflow-problem-grid,
    .workflow-approach-grid,
    .transformation-grid,
    .code-comparison {
        grid-template-columns: 1fr;
        display: grid;
    }

    .comparison-arrow {
        display: none;
    }

}

.transformation-rule {
    margin-top: 32px;
    padding: 16px 20px;
    border: 1px solid var(--stroke);
    background: var(--bg2);
    color: var(--txt2);
}

.transformation-insight {
    margin-top: 32px;
    padding-top: 24px;
    border-top: 1px solid var(--stroke);
}

.transformation-insight p {
    color: var(--txt2);
    max-width: 760px;
}

.note {
    background: var(--bg3);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.figma-note {
    padding: 34px 16px;
    gap: 16px;
    text-align: start;
    color: var(--txt2);
}

.figma-note img {
    width: 24px;
    height: 24px;
}

.border-section {
    margin: 100px auto;
    padding: 30px;
    border: 1px solid var(--stroke);
    gap: 70px;
    display: grid;
}

.hide {
    visibility: hidden;
}

.margin-bottom-8 {
    margin-bottom: 8px !important;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: var(--space-40);
}

.margin-bottom-60 {
    margin-bottom: var(--space-60);
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.margin-bottom-160 {
    margin-bottom: var(--space-160);
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-40 {
    padding-top: 40px !important;
}

.margin-top-60 {
    padding-top: 60px;
}

.margin-top-80 {
    padding-top: 80px;
}

.padding-top-100 {
    padding-top: 100px;
}

.note-btn {
    justify-content: space-between;
    padding: 40px 20px;
}

/* =========================================
RESUME PAGE
========================================= */

.resume-nav {

    display: flex;
    align-items: center;

    gap: 16px;
}

.resume-nav a {
    color: var(--txt2);
    text-decoration: none;
}

.resume-nav .active {
    color: var(--txt1);
}

/* HERO */

.resume-hero {

    padding: 120px 24px 140px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 80px;
}

.resume-hero-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.resume-tags {

    display: flex;
    flex-wrap: wrap;

    gap: 12px;

    margin-top: 8px;
}

.resume-actions {

    display: flex;
    align-items: center;

    gap: 20px;
}

/* PREVIEW SECTION */

.resume-preview-section {

    padding: 0 24px 160px;
}

.resume-preview-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: var(--txt3);
    text-transform: uppercase;
    letter-spacing: 0.08em;
    width: 74%;
    position: relative;
    left: 13%;
}

/* PDF */

.resume-preview {
    width: 75%;
    background: white;
    overflow: hidden;
    position: relative;
    left: 12.5%;
}

.resume-preview iframe {
    width: 100%;
    height: 1210px;
    display: block;
}

/* RESPONSIVE */

@media (max-width: 900px) {

    .resume-hero {

        flex-direction: column;
        align-items: flex-start;

        gap: 48px;

        padding: 80px 24px;
    }

    .resume-actions {

        flex-direction: column;
        width: 100%;

        align-items: stretch;
    }

    .resume-preview-meta {

        flex-direction: column;
        align-items: flex-start;

        gap: 12px;
    }

    .resume-preview iframe {
        height: 900px;
    }

    .before-after-grid {
        grid-template-columns: 1fr;
        gap: 60px;
    }
}

/* =========================================
LIVE TEXT
========================================= */

.footer-live {

    position: relative;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* DOT */

.footer-live .live-dot {

    position: absolute;

    left: -28px;
}


.live-text {

    display: flex;
    align-items: center;

    gap: 12px;
}

/* DOT */

.live-dot {

    border-radius: 50%;

    background: var(--highlight);

    flex-shrink: 0;

    animation: livePulse 1.8s infinite ease-in-out;
}

/* SIZES */

.dot-sm {
    width: var(--mt8);
    height: var(--mt8);
}

.dot-lg {
    width: var(--mt12);
    height: var(--mt12);
}

/* ANIMATION */

@keyframes livePulse {

    0% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0;
        transform: scale(0.85);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}